<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Appointment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Add Appointment</h1>
    <form method="POST">
        <label for="date">Appointment Date:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="pet_id">Pet:</label>
        <select id="pet_id" name="pet_id">
            {% for pet in pets %}
            <option value="{{ pet.id }}">{{ pet.name }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Add Appointment</button>
    </form>
    <a href="{{ url_for('main.list_appointments') }}">Back to Appointments</a>
</body>

</html>